---
import Link from '~/components/base/Link.astro'
import { getUrl } from '~/utils/common'
import { SITE } from '~/config'

const title = `${SITE.author} @ ${new URL(SITE.website).hostname}`
---

<Link
  class="link op-transition"
  href={getUrl('/')}
  {title}
  aria-current={Astro.url.pathname === `${getUrl('/')}` ? 'page' : false}
>
  <div class="logo-container">
    <!-- ICON SVG -->
    <!--
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 32 32"
      width="2em"
      height="2em"
      aria-hidden="true"
    >
      <path
        fill="url(#vscodeIconsFileTypeLightAstro0)"
        d="M11.025 20.499c-.532 1.75-.154 4.184 1.105 5.331v-.042l.042-.112c.154-.741.756-1.203 1.526-1.175c.713.014 1.12.392 1.217 1.217c.042.308.042.616.056.938v.098c0 .7.196 1.371.588 1.959c.35.56.84.993 1.497 1.287l-.028-.056l-.028-.112c-.49-1.469-.14-2.49 1.147-3.358l.392-.266l.868-.573a4.25 4.25 0 0 0 1.791-3.037c.07-.532 0-1.05-.154-1.553l-.21.14c-1.945 1.035-4.17 1.4-6.325.98c-1.301-.197-2.56-.56-3.498-1.652z"
      >
      </path>
      <path
        class="dark:fill-[#fdfdfd]"
        fill="#17191e"
        d="M4.925 20.191s3.736-1.82 7.486-1.82l2.84-8.759c.098-.42.406-.7.756-.7s.644.28.756.714l2.826 8.746c4.45 0 7.487 1.82 7.487 1.82L20.709 2.84c-.168-.518-.49-.84-.896-.84h-7.612c-.406 0-.7.322-.896.84z"
      >
      </path>
      <defs>
        <linearGradient
          id="vscodeIconsFileTypeLightAstro0"
          x1="8.19"
          x2="16.91"
          y1="23"
          y2="18.89"
          gradientTransform="translate(-.673 -2.198)scale(1.3993)"
          gradientUnits="userSpaceOnUse"
        >
          <stop offset="0" stop-color="#d83333"></stop>
          <stop offset="1" stop-color="#f041ff"></stop>
        </linearGradient>
      </defs>
    </svg>
    -->

    <!-- TEXT SVG (Great Vibes) -->
    <svg
      class="lt-sm:mt-0.3"
      width="58.77"
      height="33.12"
      viewBox="0 0 58.77 33.12"
      xmlns="http://www.w3.org/2000/svg"
      aria-hidden="true"
    >
      <g
        id="svgGroup"
        class="draw dark:fill-[#fdfdfd] dark:stroke-[#fdfdfd]"
        fill="#17191e"
        fill-rule="evenodd"
        stroke="#17191e"
        stroke-linecap="round"
        stroke-width="0.4"
        font-size="9pt"
      >
        <path
        vector-effect="non-scaling-stroke"
        d="M 49.175 4.358 A 2.107 2.107 0 0 0 49.32 3.6 A 1.505 1.505 0 0 0 49.311 3.429 A 1.153 1.153 0 0 0 49.073 2.835 Q 48.825 2.52 48.465 2.318 Q 48.105 2.115 47.678 2.003 Q 47.25 1.89 46.89 1.89 A 3.705 3.705 0 0 0 46.737 1.893 A 4.123 4.123 0 0 0 46.058 1.98 Q 45.63 2.07 45.18 2.16 A 6.758 6.758 0 0 0 44.625 2.311 A 7.637 7.637 0 0 0 43.223 2.925 Q 42.255 3.465 41.355 4.163 Q 40.455 4.86 39.623 5.693 A 42.251 42.251 0 0 0 39.213 6.107 A 37.335 37.335 0 0 0 38.07 7.335 Q 37.08 8.46 36.023 9.833 Q 34.965 11.205 33.953 12.623 Q 32.94 14.04 32.018 15.413 Q 31.095 16.785 30.375 17.955 A 248.814 248.814 0 0 0 29.439 19.464 Q 28.995 20.186 28.6 20.841 A 130.878 130.878 0 0 0 27.72 22.32 A 266.619 266.619 0 0 0 27.078 23.423 Q 26.408 24.58 25.898 25.493 A 217.447 217.447 0 0 0 25.458 26.283 Q 25 27.108 24.66 27.743 A 20.204 20.204 0 0 1 24.43 28.159 Q 24.241 28.492 24.059 28.781 A 10.832 10.832 0 0 1 23.715 29.295 A 0.47 0.47 0 0 0 23.696 29.337 A 0.383 0.383 0 0 0 23.67 29.475 L 23.67 29.655 A 1.179 1.179 0 0 0 23.677 29.781 Q 23.692 29.922 23.74 30.075 A 2.219 2.219 0 0 0 23.85 30.353 Q 23.911 30.482 23.987 30.567 A 0.463 0.463 0 0 0 24.345 30.735 Q 24.514 30.735 24.612 30.647 A 0.359 0.359 0 0 0 24.705 30.51 Q 25.695 28.755 27.135 27.27 Q 28.575 25.785 30.015 24.39 Q 30.285 25.808 30.517 26.845 A 41.072 41.072 0 0 0 30.668 27.495 Q 30.869 28.33 31.091 28.921 A 5.862 5.862 0 0 0 31.298 29.408 A 3.582 3.582 0 0 0 31.462 29.712 Q 31.741 30.168 32.085 30.375 A 1.83 1.83 0 0 0 32.529 30.567 A 2.155 2.155 0 0 0 33.12 30.645 Q 33.646 30.645 34.321 30.39 A 6.926 6.926 0 0 0 34.965 30.105 Q 35.339 29.891 35.761 29.582 A 13.46 13.46 0 0 0 36.36 29.115 A 16.98 16.98 0 0 0 36.937 28.617 A 20.679 20.679 0 0 0 37.913 27.675 Q 38.7 26.865 39.465 25.965 Q 40.23 25.065 40.905 24.165 A 0.31 0.31 0 0 0 40.925 24.144 Q 41.028 24.019 40.883 23.895 A 0.299 0.299 0 0 0 40.864 23.88 Q 40.717 23.773 40.59 23.985 A 23.995 23.995 0 0 1 39.954 24.868 A 31.7 31.7 0 0 1 39.218 25.808 Q 38.43 26.775 37.575 27.608 A 12.953 12.953 0 0 1 36.805 28.302 A 9.809 9.809 0 0 1 35.888 28.98 A 4.605 4.605 0 0 1 35.505 29.204 Q 35.232 29.346 34.978 29.424 A 2.034 2.034 0 0 1 34.38 29.52 Q 33.93 29.52 33.503 29.295 A 1.362 1.362 0 0 1 33.105 28.98 A 1.66 1.66 0 0 1 32.85 28.575 Q 32.58 28.035 32.333 27.338 Q 32.085 26.64 31.905 25.92 Q 31.725 25.2 31.59 24.48 A 16.682 16.682 0 0 1 31.582 24.434 Q 31.519 24.094 31.476 23.784 A 10.32 10.32 0 0 1 31.41 23.175 Q 31.748 22.871 32.25 22.466 A 39.241 39.241 0 0 1 32.603 22.185 Q 33.345 21.6 34.133 21.015 A 19.475 19.475 0 0 1 34.549 20.714 A 16.753 16.753 0 0 1 35.685 19.98 A 10.988 10.988 0 0 1 36.163 19.714 Q 36.39 19.595 36.592 19.506 A 4.551 4.551 0 0 1 36.99 19.35 A 1.603 1.603 0 0 0 37.034 19.336 Q 37.228 19.272 37.329 19.18 A 0.308 0.308 0 0 0 37.44 18.945 A 4.345 4.345 0 0 0 37.431 18.921 Q 37.335 18.669 37.25 18.544 A 0.491 0.491 0 0 0 37.193 18.473 A 0.456 0.456 0 0 0 37.131 18.421 A 0.319 0.319 0 0 0 36.945 18.36 A 0.141 0.141 0 0 0 36.923 18.362 Q 36.721 18.394 35.978 18.968 A 215.408 215.408 0 0 0 35.151 19.609 A 285.987 285.987 0 0 0 34.245 20.318 A 56.459 56.459 0 0 0 33.555 20.868 A 47.406 47.406 0 0 0 32.49 21.758 A 209.342 209.342 0 0 1 32.441 21.799 Q 31.822 22.333 31.56 22.549 A 8.383 8.383 0 0 1 31.455 22.635 A 0.357 0.357 0 0 1 31.439 22.598 Q 31.424 22.556 31.416 22.505 A 0.672 0.672 0 0 1 31.41 22.41 Q 31.41 22.319 31.387 22.274 A 0.072 0.072 0 0 0 31.32 22.23 A 1.636 1.636 0 0 0 31.19 22.274 Q 30.897 22.385 30.443 22.658 Q 29.88 22.995 29.88 23.355 A 5.947 5.947 0 0 0 29.882 23.533 Q 29.891 23.802 29.925 23.94 A 303.734 303.734 0 0 1 29.014 24.761 A 238.314 238.314 0 0 1 28.17 25.515 Q 27.36 26.235 26.595 27 Q 26.384 27.211 26.283 27.257 A 0.12 0.12 0 0 1 26.235 27.27 A 0.008 0.008 0 0 1 26.227 27.265 Q 26.211 27.227 26.37 26.91 Q 26.595 26.415 27.405 24.998 Q 27.861 24.2 28.387 23.275 A 1740.702 1740.702 0 0 0 29.25 21.758 A 261.2 261.2 0 0 1 29.38 21.529 A 284.785 284.785 0 0 1 31.41 18.023 A 412.141 412.141 0 0 1 31.722 17.493 Q 32.183 16.712 32.604 16.006 A 246.674 246.674 0 0 1 33.435 14.625 Q 34.875 12.285 36.473 10.058 A 38.983 38.983 0 0 1 37.68 8.46 A 31.649 31.649 0 0 1 39.735 6.12 A 14.913 14.913 0 0 1 40.775 5.146 Q 41.352 4.658 41.901 4.316 A 5.964 5.964 0 0 1 43.088 3.735 Q 44.64 3.195 45.675 3.195 A 3.82 3.82 0 0 1 46.019 3.211 A 4.57 4.57 0 0 1 46.62 3.308 Q 47.115 3.42 47.543 3.668 Q 47.97 3.915 48.24 4.32 A 1.555 1.555 0 0 1 48.436 4.737 A 1.824 1.824 0 0 1 48.51 5.265 A 0.763 0.763 0 0 1 48.507 5.331 A 0.633 0.633 0 0 1 48.465 5.513 A 0.603 0.603 0 0 0 48.437 5.601 A 0.705 0.705 0 0 0 48.42 5.76 A 0.609 0.609 0 0 0 48.42 5.775 Q 48.425 5.971 48.558 5.964 A 0.203 0.203 0 0 0 48.578 5.963 Q 48.702 5.945 48.728 5.801 A 0.481 0.481 0 0 0 48.735 5.715 A 4.24 4.24 0 0 1 48.816 5.297 A 3.4 3.4 0 0 1 49.073 4.59 A 2.587 2.587 0 0 0 49.175 4.358 Z M 29.745 0.495 Q 29.745 0.765 29.475 1.035 Q 29.234 1.276 29.136 1.698 A 2.195 2.195 0 0 0 29.115 1.8 A 0.75 0.75 0 0 1 29.067 1.927 Q 28.974 2.115 28.8 2.115 A 0.575 0.575 0 0 1 28.593 2.075 A 0.706 0.706 0 0 1 28.53 2.048 A 5.815 5.815 0 0 0 28.419 1.994 Q 28.369 1.97 28.312 1.944 A 12.278 12.278 0 0 0 28.193 1.89 Q 28.023 1.815 27.79 1.755 A 3.995 3.995 0 0 0 27.698 1.733 A 2.069 2.069 0 0 0 27.493 1.697 Q 27.274 1.67 26.968 1.666 A 8.076 8.076 0 0 0 26.865 1.665 Q 26.1 1.665 25.335 1.868 A 4.878 4.878 0 0 0 23.999 2.437 A 4.61 4.61 0 0 0 23.94 2.475 Q 22.68 3.285 21.218 4.77 Q 19.755 6.255 18.54 8.01 Q 15.525 12.33 13.253 16.088 Q 11.3 19.317 9.895 21.964 A 79.554 79.554 0 0 0 9.45 22.815 A 66.438 66.438 0 0 0 8.449 24.836 Q 7.997 25.793 7.644 26.636 A 29.018 29.018 0 0 0 7.155 27.878 A 23.259 23.259 0 0 0 6.82 28.855 Q 6.39 30.218 6.39 30.96 A 2.85 2.85 0 0 0 6.439 31.506 Q 6.504 31.838 6.654 32.102 A 1.687 1.687 0 0 0 6.728 32.22 A 1.081 1.081 0 0 0 7.374 32.662 Q 7.563 32.711 7.791 32.715 A 2.315 2.315 0 0 0 7.83 32.715 A 3.887 3.887 0 0 0 9.783 32.18 A 4.894 4.894 0 0 0 10.148 31.95 Q 11.25 31.185 12.24 30.038 A 16.654 16.654 0 0 0 13.925 27.69 A 18.441 18.441 0 0 0 14.04 27.495 A 43.968 43.968 0 0 0 14.794 26.145 A 33.612 33.612 0 0 0 15.435 24.885 Q 15.518 24.72 15.695 24.744 A 0.402 0.402 0 0 1 15.728 24.75 A 0.172 0.172 0 0 1 15.774 24.767 Q 15.895 24.834 15.721 25.087 A 1.464 1.464 0 0 1 15.705 25.11 Q 14.895 26.73 13.973 28.193 A 19.551 19.551 0 0 1 12.845 29.802 A 15.745 15.745 0 0 1 12.038 30.758 A 10.013 10.013 0 0 1 10.936 31.796 A 7.808 7.808 0 0 1 9.923 32.49 A 5.073 5.073 0 0 1 8.894 32.942 A 3.921 3.921 0 0 1 7.74 33.12 A 3.601 3.601 0 0 1 7.074 33.063 Q 6.693 32.991 6.398 32.829 A 1.722 1.722 0 0 1 5.94 32.468 A 2.251 2.251 0 0 1 5.402 31.334 A 3.156 3.156 0 0 1 5.355 30.78 A 6.268 6.268 0 0 1 5.488 29.524 A 8.425 8.425 0 0 1 5.783 28.463 A 16.887 16.887 0 0 1 6.132 27.545 Q 6.519 26.606 7.11 25.425 A 92.617 92.617 0 0 1 6.209 26.503 Q 5.496 27.343 4.905 27.99 A 23.81 23.81 0 0 1 4.282 28.648 Q 3.713 29.226 3.24 29.61 A 10.571 10.571 0 0 1 2.81 29.943 Q 2.373 30.262 2.026 30.431 A 3.094 3.094 0 0 1 2.003 30.443 A 3.092 3.092 0 0 1 1.645 30.588 Q 1.339 30.69 1.08 30.69 Q 0.735 30.69 0.511 30.589 A 0.663 0.663 0 0 1 0.225 30.353 Q 0.028 30.057 0.004 29.607 A 2.417 2.417 0 0 1 0 29.475 A 1.96 1.96 0 0 1 0.024 29.183 Q 0.07 28.879 0.204 28.479 A 6.99 6.99 0 0 1 0.225 28.418 A 5.833 5.833 0 0 1 0.709 27.372 A 6.663 6.663 0 0 1 0.855 27.135 A 20.452 20.452 0 0 1 2.674 24.614 A 15.723 15.723 0 0 1 4.568 22.725 A 10.018 10.018 0 0 1 7.968 20.885 A 12.835 12.835 0 0 1 9.63 20.475 Q 11.79 16.695 13.77 13.68 Q 15.75 10.665 18.09 7.785 A 48.886 48.886 0 0 1 20.26 5.236 A 38.658 38.658 0 0 1 21.938 3.51 Q 23.85 1.665 25.875 0.72 A 9.734 9.734 0 0 1 26.857 0.318 Q 27.349 0.149 27.79 0.07 A 4.2 4.2 0 0 1 28.53 0 Q 29.07 0 29.408 0.135 Q 29.745 0.27 29.745 0.495 Z M 49.545 25.065 Q 48.78 26.01 47.723 27.023 Q 46.665 28.035 45.428 28.868 Q 44.19 29.7 42.863 30.218 A 7.522 7.522 0 0 1 41.048 30.684 A 6.679 6.679 0 0 1 40.23 30.735 A 3.447 3.447 0 0 1 39.432 30.651 Q 38.356 30.394 38.159 29.351 A 2.732 2.732 0 0 1 38.115 28.845 Q 38.115 27.669 38.684 26.316 A 9.714 9.714 0 0 1 38.768 26.123 Q 39.42 24.66 40.455 23.423 A 11.185 11.185 0 0 1 42.177 21.751 A 10.059 10.059 0 0 1 42.728 21.353 Q 43.717 20.687 44.635 20.553 A 3.162 3.162 0 0 1 45.09 20.52 A 2.791 2.791 0 0 1 45.381 20.534 Q 45.782 20.576 45.968 20.745 Q 46.215 20.97 46.215 21.33 A 2.016 2.016 0 0 1 46.136 21.874 Q 46.073 22.1 45.959 22.339 A 3.756 3.756 0 0 1 45.878 22.5 A 3.557 3.557 0 0 1 45.407 23.169 A 4.895 4.895 0 0 1 44.865 23.693 Q 44.19 24.255 43.155 24.638 Q 42.232 24.979 40.986 25.016 A 10.36 10.36 0 0 1 40.68 25.02 A 3.278 3.278 0 0 0 40.55 25.285 Q 40.379 25.672 40.185 26.303 Q 39.915 27.18 39.915 28.08 A 2.979 2.979 0 0 0 39.989 28.776 Q 40.214 29.709 41.122 29.884 A 2.415 2.415 0 0 0 41.58 29.925 Q 42.615 29.925 43.718 29.43 Q 44.82 28.935 45.855 28.193 Q 46.89 27.45 47.768 26.573 Q 48.552 25.788 49.103 25.093 A 11.815 11.815 0 0 0 49.23 24.93 Q 49.31 24.85 49.407 24.876 A 0.228 0.228 0 0 1 49.433 24.885 Q 49.545 24.93 49.545 25.065 Z M 58.77 25.065 Q 58.005 26.01 56.948 27.023 Q 55.89 28.035 54.653 28.868 Q 53.415 29.7 52.088 30.218 A 7.522 7.522 0 0 1 50.273 30.684 A 6.679 6.679 0 0 1 49.455 30.735 A 3.447 3.447 0 0 1 48.657 30.651 Q 47.581 30.394 47.384 29.351 A 2.732 2.732 0 0 1 47.34 28.845 Q 47.34 27.669 47.909 26.316 A 9.714 9.714 0 0 1 47.993 26.123 Q 48.645 24.66 49.68 23.423 A 11.185 11.185 0 0 1 51.402 21.751 A 10.059 10.059 0 0 1 51.953 21.353 Q 52.942 20.687 53.86 20.553 A 3.162 3.162 0 0 1 54.315 20.52 A 2.791 2.791 0 0 1 54.606 20.534 Q 55.007 20.576 55.193 20.745 Q 55.44 20.97 55.44 21.33 A 2.016 2.016 0 0 1 55.361 21.874 Q 55.298 22.1 55.184 22.339 A 3.756 3.756 0 0 1 55.103 22.5 A 3.557 3.557 0 0 1 54.632 23.169 A 4.895 4.895 0 0 1 54.09 23.693 Q 53.415 24.255 52.38 24.638 Q 51.457 24.979 50.211 25.016 A 10.36 10.36 0 0 1 49.905 25.02 A 3.278 3.278 0 0 0 49.775 25.285 Q 49.604 25.672 49.41 26.303 Q 49.14 27.18 49.14 28.08 A 2.979 2.979 0 0 0 49.214 28.776 Q 49.439 29.709 50.347 29.884 A 2.415 2.415 0 0 0 50.805 29.925 Q 51.84 29.925 52.943 29.43 Q 54.045 28.935 55.08 28.193 Q 56.115 27.45 56.993 26.573 Q 57.777 25.788 58.328 25.093 A 11.815 11.815 0 0 0 58.455 24.93 Q 58.535 24.85 58.632 24.876 A 0.228 0.228 0 0 1 58.658 24.885 Q 58.77 24.93 58.77 25.065 Z M 26.798 24.426 A 9.05 9.05 0 0 0 28.395 22.77 Q 28.552 22.613 28.418 22.525 A 0.313 0.313 0 0 0 28.373 22.5 Q 28.205 22.426 28.115 22.567 A 0.405 0.405 0 0 0 28.08 22.635 A 7.448 7.448 0 0 1 27.644 23.198 A 8.619 8.619 0 0 1 26.505 24.3 Q 25.56 25.065 24.39 25.065 A 2.648 2.648 0 0 1 23.787 25.001 A 1.556 1.556 0 0 1 22.748 24.255 Q 22.45 23.746 22.34 23.058 A 5.519 5.519 0 0 1 22.275 22.185 A 9.459 9.459 0 0 1 22.297 21.529 A 7.627 7.627 0 0 1 22.433 20.52 Q 22.519 20.102 22.652 19.764 A 2.962 2.962 0 0 1 22.905 19.26 A 0.443 0.443 0 0 0 22.924 19.217 Q 22.966 19.104 22.904 19.043 A 0.172 0.172 0 0 0 22.86 19.013 Q 22.758 18.961 22.655 19.001 A 0.335 0.335 0 0 0 22.59 19.035 A 1.434 1.434 0 0 1 22.436 19.101 A 1.743 1.743 0 0 1 22.185 19.17 L 21.735 19.26 A 0.784 0.784 0 0 0 21.259 19.546 A 1.035 1.035 0 0 0 21.105 19.823 Q 20.925 20.295 20.835 20.655 Q 19.44 20.79 18.225 21.51 Q 17.01 22.23 16.065 23.265 Q 15.615 23.715 15.098 24.435 Q 14.58 25.155 14.13 25.965 Q 13.68 26.775 13.388 27.63 Q 13.095 28.485 13.095 29.295 A 2.075 2.075 0 0 0 13.128 29.676 Q 13.277 30.475 14.104 30.671 A 2.654 2.654 0 0 0 14.715 30.735 A 1.648 1.648 0 0 0 14.74 30.735 Q 15.273 30.727 16.065 30.375 A 7.833 7.833 0 0 0 16.19 30.308 A 8.398 8.398 0 0 0 17.843 29.115 Q 18.675 28.35 19.35 27.428 A 17.377 17.377 0 0 0 19.676 26.966 A 15.199 15.199 0 0 0 20.52 25.583 A 32.359 32.359 0 0 0 20.706 25.23 Q 20.904 24.85 21.068 24.508 A 17.637 17.637 0 0 0 21.33 23.94 A 3.482 3.482 0 0 0 21.373 24.011 A 2.904 2.904 0 0 0 22.523 25.088 A 3.819 3.819 0 0 0 22.755 25.198 A 3.184 3.184 0 0 0 24.03 25.47 Q 25.425 25.47 26.528 24.638 A 10.255 10.255 0 0 0 26.798 24.426 Z M 7.378 21.447 A 3.27 3.27 0 0 0 6.638 21.803 Q 5.715 22.41 4.995 23.31 A 31.383 31.383 0 0 0 4.023 24.573 Q 3.124 25.808 2.633 26.794 A 9.2 9.2 0 0 0 2.565 26.933 A 14.179 14.179 0 0 0 2.251 27.634 Q 1.985 28.279 1.893 28.734 A 2.18 2.18 0 0 0 1.845 29.16 Q 1.845 29.385 2.025 29.475 Q 2.163 29.544 2.249 29.56 A 0.254 0.254 0 0 0 2.295 29.565 A 0.531 0.531 0 0 0 2.471 29.528 Q 2.747 29.428 3.228 29.059 A 9.866 9.866 0 0 0 3.443 28.89 A 11.317 11.317 0 0 0 4.092 28.317 Q 4.655 27.785 5.288 27.068 Q 6.3 25.92 7.38 24.39 Q 8.46 22.86 9.27 21.15 Q 8.157 21.179 7.378 21.447 Z M 20.9 22.705 A 5.677 5.677 0 0 0 20.97 23.085 A 2.76 2.76 0 0 1 20.911 23.374 Q 20.809 23.775 20.569 24.334 A 14.28 14.28 0 0 1 20.318 24.885 A 14.771 14.771 0 0 1 20.088 25.341 A 16.561 16.561 0 0 1 18.945 27.203 A 15.267 15.267 0 0 1 18.404 27.924 A 12.642 12.642 0 0 1 17.235 29.205 A 5.767 5.767 0 0 1 17.201 29.237 Q 16.682 29.722 16.207 29.922 A 1.643 1.643 0 0 1 15.57 30.06 A 1.089 1.089 0 0 1 15.491 30.057 Q 15.394 30.05 15.317 30.025 A 0.405 0.405 0 0 1 15.053 29.79 A 1.416 1.416 0 0 1 15.002 29.648 A 1.55 1.55 0 0 1 14.94 29.205 A 4.163 4.163 0 0 1 14.936 29.024 Q 14.936 28.545 15.045 28.043 A 6.035 6.035 0 0 1 15.368 27.023 A 18.423 18.423 0 0 1 15.518 26.668 A 16.378 16.378 0 0 1 16.425 24.885 Q 16.875 24.12 17.415 23.4 Q 17.955 22.68 18.495 22.118 A 7.861 7.861 0 0 1 18.503 22.109 Q 19.039 21.552 19.575 21.218 Q 19.828 21.059 20.071 20.975 A 1.644 1.644 0 0 1 20.61 20.88 A 0.252 0.252 0 0 1 20.641 20.882 Q 20.757 20.896 20.783 21.023 A 0.413 0.413 0 0 1 20.79 21.105 A 11.268 11.268 0 0 0 20.793 21.355 A 12.909 12.909 0 0 0 20.835 22.14 A 9.951 9.951 0 0 0 20.849 22.289 Q 20.87 22.509 20.9 22.705 Z M 44.82 21.555 A 0.842 0.842 0 0 0 44.791 21.324 Q 44.69 20.97 44.235 20.97 A 1.339 1.339 0 0 0 43.736 21.071 Q 43.527 21.155 43.313 21.308 Q 42.84 21.645 42.39 22.185 A 11.608 11.608 0 0 0 41.637 23.199 A 12.802 12.802 0 0 0 41.535 23.355 A 11.087 11.087 0 0 0 41.122 24.05 A 8.841 8.841 0 0 0 40.86 24.57 A 0.382 0.382 0 0 0 40.917 24.592 Q 41.01 24.621 41.175 24.638 A 6.248 6.248 0 0 0 41.307 24.649 Q 41.433 24.659 41.522 24.66 A 1.699 1.699 0 0 0 41.535 24.66 Q 42.84 24.66 43.83 23.738 A 3.238 3.238 0 0 0 44.507 22.866 A 2.797 2.797 0 0 0 44.82 21.555 Z M 54.045 21.555 A 0.842 0.842 0 0 0 54.016 21.324 Q 53.915 20.97 53.46 20.97 A 1.339 1.339 0 0 0 52.961 21.071 Q 52.752 21.155 52.538 21.308 Q 52.065 21.645 51.615 22.185 A 11.608 11.608 0 0 0 50.862 23.199 A 12.802 12.802 0 0 0 50.76 23.355 A 11.087 11.087 0 0 0 50.347 24.05 A 8.841 8.841 0 0 0 50.085 24.57 A 0.382 0.382 0 0 0 50.142 24.592 Q 50.235 24.621 50.4 24.638 A 6.248 6.248 0 0 0 50.532 24.649 Q 50.658 24.659 50.747 24.66 A 1.699 1.699 0 0 0 50.76 24.66 Q 52.065 24.66 53.055 23.738 A 3.238 3.238 0 0 0 53.732 22.866 A 2.797 2.797 0 0 0 54.045 21.555 Z"
        />
      </g>
    </svg>
  </div>
</Link>

<style>
  .link {
    /* opacity: 1; */
    -webkit-user-select: none;
    user-select: none;
  }

  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;

    transform: scale(1.05);
  }

  @media (max-width: 767.9px) {
    .logo-container {
      transform-origin: 0%;
      transform: scale(0.95);
    }
  }

  .logo-container svg {
    height: 2rem;
  }

  @keyframes grow {
    0% {
      stroke-dashoffset: 1px;
      stroke-dasharray: 350px 0;
    }
    20% {
      stroke-dasharray: 0 350px;
    }
    80% {
      stroke-dasharray: 0 350px;
    }
    to {
      stroke-dasharray: 350px 0;
    }
  }

  .draw {
    stroke-dashoffset: 1px;
    stroke-dasharray: 350px 0;
    animation: grow 10s ease forwards infinite;
  }

  @media (prefers-reduced-motion), print {
    .draw {
      stroke-dasharray: unset !important;
      animation: none !important;
    }
  }
</style>
